body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #111;
}

$transition : .2s;

li {
	float: left;
	width: 100px;
	height: 150px;
	transition:
		transform $transition linear;
	
	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			background: mix(firebrick, tomato, $i*20%);
			
		}
	}
}

ul:hover {
	li {
		transform: translateX(-25%);
	}

	li:hover {
		transform: scale(1.5);
		transition-duration: $transition/1.1;
	}

	li:hover ~ li {
		transform: translateX(25%);
	}
}
